Host *
    ForwardAgent yes
    ForwardX11 no
    ForwardX11Trusted yes
    BatchMode no
    TCPKeepAlive yes
    Compression yes
    StrictHostKeyChecking no
    ConnectTimeout 0
    # 客户端每隔多少秒向服务器发送一个心跳数据
    ServerAliveInterval 60
    # 表示上述多少心跳无相应之后，会认为Client已经断开
    # ServerAliveCountMax 1800
    #User azer

Host era
    HostName 192.168.3.233
    User azer
    Port 22
    IdentityFile ~/.ssh/era

Host aws
    HostName 161.189.11.208
    User ec2-user
    IdentityFile ~/.ssh/aws.pem

Host github.com
    HostName ssh.github.com
    Port 443
    User git
    IdentityFile ~/.ssh/github

Host gitee.com
    HostName gitee.com
    User git
    IdentityFile ~/.ssh/gitee

Host v2ray
    HostName 149.28.26.243
    User root
    IdentityFile ~/.ssh/vultr






##Our Us Proxy Server ##
## Forward all local port 3128 traffic to port 3128 on the remote vps1.cyberciti.biz server ##
### $ ssh -f -N  proxyus ##
#Host proxyus
#    HostName vps1.cyberciti.biz
#    User breakfree
#    IdentityFile ~/.ssh/vps1.cyberciti.biz.key
#    LocalForward 3128 127.0.0.1:3128

